<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I was raised in small-town Iowa, then became an adult in New York City. Whether it was academia, statistical analysis or stand-up comedy or programming, I have always been fascinated with creation and perfection; making something then the endless pursuit of perfecting it. </p>
  </div>

  
  <%= source_helper("alert alert-info blog-sidebar-source") %>
  

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p> <%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/JustimusPrime"><%= fa_icon "github" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.linkedin.com/in/justin-murray-b116941b/"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</div>

<!-- only keep icons you have links to in social media -->

